*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {

    /* layout */
    --mobile: 375px;
    --desktop: 1440px;

    /* colors */
    --primary-blue: #6070ff;
    --primary-light-blue: #7F8CFF;
    --grey-light: #ebebff;

    /* typography */
    --font-family-pop: 'Poppins', sans-serif;
    --font-family-robo: 'Roboto Slab', serif;
    --font-weight-extra-light: 200;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
}

body {
    background: #e5e5e5;
}

.intro-cover {
    width: 100%;
    position: relative;
    height: 850px;
    background: #fff;
    border-bottom-left-radius: 200px;
    margin-bottom: 100px;
}

.bar-top-left {
    position: absolute;
    width: 9%;
    height: 2.2%;
    left: 2%;
    top: 18%;
    background: var(--grey-light);
    transform: rotate(-46.14deg);
}

.half-circle-filled {
    position: absolute;
    width: 6%;
    height: 4.8%;
    left: 7%;
    top: 20%;
    background: var(--primary-blue);
    transform: rotate(14.88deg);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.bar-top-middle {
    position: absolute;
    width: 4%;
    height: 1.2%;
    left: 48.7%;
    top: 26.53%;
    background: var(--primary-blue);
    transform: rotate(-15deg);
}

.circle-center {
    position: absolute;
    width: 2.5%;
    height: 4%;
    left: 50%;
    top: 27.59%;
    background: var(--grey-light);
    border-radius: 50%;
}

.circle-towards-right {
    position: absolute;
    width: 2.5%;
    height: 4%;
    left: 70%;
    top: 15%;
    background: #fff;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.bar-top-right {
    position: absolute;
    width: 15%;
    height: 5%;
    right: 2%;
    top: 18%;
    background: var(--grey-light);
    transform: rotate(-30deg);
}

.half-circle-right {
    position: absolute;
    width: 8%;
    height: 12%;
    right: 3%; 
    top: 22.1%;
    border-radius: 50%;
    background: var(--primary-blue);
}

.bio-info {
    margin-top: 300px;
}

.name,
.feeling {
    letter-spacing: 3px;
    font-family: var(--font-family-robo);
    font-weight: bold;
}

.name {
    font-size: 3rem;
}

.feeling {
    font-size: 2rem;
}

.connect {
    font-size: 18px;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--primary-light-blue);
}

.s-cover {
    margin-top: 10px;
}

.s-connect {
    display: flex;
    list-style: none;
}

.social {
    color: #344563;
}

.s-connect > li:not(:first-child) {
    margin-left: 10px;
}

.bar-bellow-social {
    position: absolute;
    width: 12%;
    height: 3%;
    left: 30%;
    top: 80%;
    background: var(--grey-light);
    transform: rotate(20deg);
}

.circle-on-bar-middle {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 40%;
    top: 78%;
    background: var(--primary-blue);
    border-radius: 50%;
}

.circle-bellow-social-right {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1120px;
    top: 500px;
    background: #fff;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.project-container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.index-page-rails {
    height: 450px;
}

.project-img-left {
    width: 100%;
    height: 400px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.project-img-right {
    width: 100%;
    height: 400px;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.p-name {
    font-size: 3rem;
    margin-bottom: 40px;
}

.project-obj {
    margin-top: 40px;
}

.objective {
    width: 90%;
    padding: 15px;
    position: relative;
    border: 3px dashed var(--grey-light);
    border-radius: 10px;
    font-size: 16px;
}

.objective::before {
    content: 'Objective';
    position: absolute;
    font-size: 18px;
    top: -13px;
    left: calc(50% - 38px);
    padding: 0 5px;
    background: #fff;
}

.tech-used {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.tech-list {
    background: var(--grey-light);
    padding: 3px 15px;
    text-transform: uppercase;
}

.tech-list:not(:first-child) {
    margin-left: 20px;
}

.project-link {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.source-link {
    font-size: 17px;
    font-family: var(--font-family-pop);
    padding: 8px 12px;
    border: 0.13rem solid #c5c3c3;;
    border-radius: 10px;
    background: transparent;
    color: #396DF2;
    cursor: pointer;
}

.source-link:hover {
    background: #f1f0f0;
}

.source-link > a {
    font-size: 20px;
    text-decoration: none;
    color: #212121;
}

.source-link > a:hover {
    color: #333;
}

.about {
    background: #fff;
    height: auto;
    border-top-right-radius: 60px;
}

.resume-div {
    margin-top: 50px;
}

.resume {
    font-size: 17px;
    font-family: var(--font-family-pop);
    padding: 10px 17px;
    border: 1px solid #396DF2;;
    border-radius: 10px;
    background: transparent;
    color: #396DF2;
}

.resume:hover {
    text-decoration: none;
    background: #d3d0d0;
    color: #fff;
    border: none;
}

.tech {
    margin-bottom: 25px;
}

.technology {
    border-bottom: 1px solid #ddd;
}

.tech-list {
    display: flex;
    list-style: none;
    padding: 3px 7px;
    border-radius: 5px;
}

.lang-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.list {
    font-size: 1.2rem;
    color: #808080;
    padding-bottom: 25px;
}

.list:not(:first-child) {
    margin-left: 20px;
}

.contact-me {
    height: auto;
    margin-top: 120px;
    background: var(--primary-blue);
    border-top-left-radius: 150px;
    position: relative;
}

.contact-area {
    height: auto;
    margin-top: 150px;
}

.contact {
    text-align: center;
    font-family: var(--font-family-pop);
}

.contact-title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}

.contact-msg {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #EBEBFF;
    margin: 10px 0 20px 0;
}

.form-group > input {
    color: #000;
    font-size: 16px;
}

.get-it-button {
    width: 25%;
    font-size: 20px;
    color: var(--primary-blue);
    text-transform: capitalize;
    margin-left: 37%;
    background: #fff;
    border: none;
}

.lets-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.bar-bottom-right {
    position: absolute;
    width: 10%;
    height: 3%;
    right: 3%;
    top: 15%;
    background: #7f8cff;
    transform: rotate(-23deg);
}

.half-circle-bottom-right {
    position: absolute;
    width: 8%;
    height: 13%;
    right: 2.8%; 
    top: 18%;
    background: #fff;
    border-radius: 50%;
}

.circle-towards-center {
    width: 27px;
    height: 27px;
    left: 430px;
    top: 130px;
    background: #7f8cff;
}

.bar-towards-bottom-left {
    width: 125px;
    height: 22px;
    left: 90px;
    top: 400px;
    transform: rotate(30deg);
}

.circle-left {
    width: 50px;
    height: 50px;
    left: 115px;
    top: 420px;
}

.circle-bottom-right {
    width: 7%;
    height: 11%;
    left: 80%;
    top: 56%;
    background: #7f8cff;
}

.bar-bottom-bottom {
    width: 4%;
    height: 1.4%;
    left: 27%;
    top: 83%;
    background: #fff;
}

.half-circle-filled-bottom {
    width: 3%;
    height: 2.5%;
    left: 28%;
    top: 85.7%;
    background: #7f8cff;
    transform: rotate(25deg);

}

.my-email {
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

.footer-social {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .design {
        visibility: hidden;
    }

    .bio-info {
        margin-top: 40%;
    }
}
