*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {

    /* layout */
    --mobile: 375px;
    --desktop: 1440px;

    /* colors */
    --primary-blue: #6070ff;
    --primary-light-blue: #7F8CFF;
    --grey-light: #ebebff;

    /* typography */
    --font-family-pop: 'Poppins', sans-serif;
    --font-family-robo: 'Roboto Slab', serif;
    --font-weight-extra-light: 200;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background: #e5e5e5;
}

.intro-cover {
    width: 100%;
    position: relative;
    height: 850px;
    background: #fff;
    border-bottom-left-radius: 200px;
    margin-bottom: 100px;
}

.bar-top-left {
    position: absolute;
    width: 109px;
    height: 20px;
    left: 34px;
    top: 150px;
    background: var(--grey-light);
    transform: rotate(-46.14deg);
}

.half-circle-filled {
    position: absolute;
    width: 80.48px;
    height: 40.2px;
    left: 93.2px;
    top: 170px;
    background: var(--primary-blue);
    transform: rotate(14.88deg);
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.bar-top-middle {
    position: absolute;
    width: 56px;
    height: 10px;
    left: 646px;
    top: 225px;
    background: var(--primary-blue);
    transform: rotate(-15deg);
}

.circle-center {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 665px;
    top: 235px;
    background: var(--grey-light);
    border-radius: 50%;
}

.circle-towards-right {
    position: absolute;
    width: 39px;
    height: 39px;
    left: 970px;
    top: 125px;
    background: #fff;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.bar-top-right {
    position: absolute;
    width: 204px;
    height: 47px;
    left: 1115px;
    top: 150px;
    background: var(--grey-light);
    transform: rotate(-30deg);
}

.half-circle-right {
    position: relative;
    width: 180px;
    height: 100px;
    left: 1135px; 
    top: 195px;
}

.half-circle-right::before {
    position: absolute;
    content: ' ';
    width: inherit;
    height: inherit;
    border: 35px solid var(--primary-blue);
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
    transform: rotate(-30.41deg);
}

.bio-info {
    margin-top: 300px;
}

.name,
.feeling {
    letter-spacing: 3px;
    font-family: var(--font-family-robo);
    font-weight: bold;
}

.name {
    font-size: 3rem;
}

.feeling {
    font-size: 2rem;
}

.connect {
    font-size: 18px;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--primary-light-blue);
}

.s-cover {
    margin-top: 10px;
}

.s-connect {
    display: flex;
    list-style: none;
}

.social {
    color: #344563;
}

.s-connect > li:not(:first-child) {
    margin-left: 10px;
}

.half-circle-bellow-social {
    position: relative;
    width: 60px;
    height: 30px;
    left: -910px; 
    top: 650px;
}

.half-circle-bellow-social::before {
    position: absolute;
    content: ' ';
    width: inherit;
    height: inherit;
    border: 10px solid var(--grey-light);
    border-bottom: none;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    transform: rotate(15.41deg);
}

.bar-bellow-social {
    position: absolute;
    width: 170px;
    height: 30px;
    left: 770px;
    top: 630px;
    background: var(--grey-light);
    transform: rotate(20deg);
}

.circle-on-bar-middle {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 895px;
    top: 607px;
    background: var(--primary-blue);
    border-radius: 50%;
}

.circle-bellow-social-right {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1120px;
    top: 500px;
    background: #fff;
    border: 2px solid var(--grey-light);
    border-radius: 50%;
}

.project-container {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.index-page-rails {
    height: 450px;
}

.project-img-left {
    width: 100%;
    height: 400px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.project-img-right {
    width: 100%;
    height: 400px;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.p-name {
    font-size: 3rem;
    margin-bottom: 40px;
}

.project-obj {
    margin-top: 40px;
}

.objective {
    width: 90%;
    padding: 15px;
    position: relative;
    border: 3px dashed var(--grey-light);
    border-radius: 10px;
    font-size: 16px;
}

.objective::before {
    content: 'Objective';
    position: absolute;
    font-size: 18px;
    top: -13px;
    left: calc(50% - 38px);
    padding: 0 5px;
    background: #fff;
}

.tech-used {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.tech-list {
    background: var(--grey-light);
    padding: 3px 15px;
    text-transform: uppercase;
}

.tech-list:not(:first-child) {
    margin-left: 20px;
}

.project-link {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.source-link {
    font-size: 17px;
    font-family: var(--font-family-pop);
    padding: 8px 12px;
    border: 0.13rem solid #c5c3c3;;
    border-radius: 10px;
    background: transparent;
    color: #396DF2;
    cursor: pointer;
}

.source-link:hover {
    background: #f1f0f0;
}

.source-link > a {
    font-size: 20px;
    text-decoration: none;
    color: #212121;
}

.source-link > a:hover {
    color: #333;
}

.about {
    background: #fff;
    height: auto;
    border-top-right-radius: 60px;
}

.resume-div {
    margin-top: 50px;
}

.resume {
    font-size: 17px;
    font-family: var(--font-family-pop);
    padding: 10px 17px;
    border: 1px solid #396DF2;;
    border-radius: 10px;
    background: transparent;
    color: #396DF2;
}

.resume:hover {
    text-decoration: none;
    background: #d3d0d0;
    color: #fff;
    border: none;
}

.tech {
    margin-bottom: 25px;
}

.technology {
    border-bottom: 1px solid #ddd;
}

.tech-list {
    display: flex;
    list-style: none;
    padding: 3px 7px;
    border-radius: 5px;
}

.lang-list {
    display: flex;
    list-style: none;
}

.list {
    font-size: 1.2rem;
    color: #808080;
    padding-bottom: 25px;
}

.list:not(:first-child) {
    margin-left: 20px;
}

.contact-me {
    height: 880px;
    margin-top: 150px;
    background: var(--primary-blue);
    border-top-left-radius: 150px;
    position: relative;
}

.contact-area {
    height: 500px;
    margin-top: 150px;
}

.contact {
    text-align: center;
    font-family: var(--font-family-pop);
}

.contact-title {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bold;
}

.contact-msg {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #EBEBFF;
    margin: 10px 0 20px 0;
}

.form-group > input {
    color: #000;
    font-size: 16px;
}

.get-it-button {
    width: 25%;
    font-size: 20px;
    color: var(--primary-blue);
    text-transform: capitalize;
    margin-left: 37%;
    background: #fff;
    border: none;
}

.bar-bottom-right {
    position: absolute;
    width: 110px;
    height: 25px;
    left: 1140px;
    top: 130px;
    background: #7f8cff;
    transform: rotate(-23deg);
}

.half-circle-bottom-right {
    position: relative;
    width: 130px;
    height: 70px;
    left: 1155px; 
    top: -498px;
}

.half-circle-bottom-right::before {
    position: absolute;
    content: ' ';
    width: inherit;
    height: inherit;
    border: 30px solid #fff;
    border-bottom: none;
    border-top-left-radius: 175px;
    border-top-right-radius: 175px;
    transform: rotate(-37.41deg);
}

.circle-towards-center {
    width: 27px;
    height: 27px;
    left: 430px;
    top: 130px;
    background: #7f8cff;
}

.bar-towards-bottom-left {
    width: 125px;
    height: 22px;
    left: 90px;
    top: 70px;
    transform: rotate(30deg);
}

.circle-left {
    width: 50px;
    height: 50px;
    left: 115px;
    top: 90px;
}

.circle-bottom-right {
    width: 100px;
    height: 100px;
    left: 1100px;
    top: 420px;
    background: #7f8cff;
}

.bar-bottom-bottom {
    width: 60px;
    height: 10px;
    left: 350px;
    top: 710px;
    background: #fff;
}

.half-circle-filled-bottom {
    width: 42px;
    height: 21px;
    left: 377px;
    top: 728px;
    background: #7f8cff;
    transform: rotate(25deg);

}

.lets-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.my-email {
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

.footer-social {
    color: #fff;
}
